.root {

}

.node-container {
    -fx-background-color:#222;
    -fx-background-radius:8px;
    -fx-border-style: solid;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-border-radius: 8px;

    
}

.node-section * {
    -fx-text-fill:white;
    -fx-font-size:1.5em;
}

